---
layout: default
---

<main id="main" class="page-content" aria-label="Content">
  <div class="wrapper">

    <article class="page h-entry" itemscope itemtype="http://schema.org/CreativeWork">

      {% if page.header.overlay_image %}
        <div class="page__hero--overlay" style="background-image: url('{{ page.header.overlay_image | relative_url }}');">
          <div class="wrapper">
            <div class="overlay-content">
              {% if page.header.caption %}
                <p class="hero-caption">{{ page.header.caption }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}

      <header class="page__header">
        <h1 class="page__title" itemprop="headline">{{ page.title }}</h1>

        {% if page.excerpt %}
          <p class="page__excerpt">{{ page.excerpt }}</p>
        {% endif %}

        {% if page.date %}
          <p class="page__meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ page.date | date: "%B %d, %Y" }}
            </time>
          </p>
        {% endif %}
      </header>

      <div class="page__content e-content" itemprop="text">
        {{ content }}
      </div>

{% if page.author_profile or site.author_profile %}
  <pre>Site author: {{ site.author | jsonify }}</pre>

  <footer class="page__footer">
    {% include author-profile.html %}
  </footer>
{% endif %}

    </article>

  </div>
</main>
